@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
  font-size: 16px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

button:disabled {
  opacity: 0.5;
}
